{% extends 'base_table.html' %}

{% block title %}: {{ _('Edit Users') }}{% endblock title %}

{% block table_headers %}
    <th>{{ _('Username') }}</th>
    <th>{{ _('Email') }}</th>
    <th>{{ _('Roles') }}</th>
    <th>{{ _('Status') }}</th>
{% endblock table_headers %}

{% block before_table %}
{% endblock before_table %}

{% block table_body %}
    {% for user in users %}
        <a href={{ url_for('information', category='users', name=user.name) }}>
            <tr {{ 'class=danger' if not user.is_active }}>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get('last_login', None) }}</td>
                <td>
                    {% for role in roles %}
                        <label class='checkbox-inline'>
                            {% set has_role = 'checked=""' if role in user.roles %}
                            <input type='checkbox' value={{ user.name + '_' + role }} {{ has_role }} />
                            {{ role }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    <label class='checkbox-inline'>
                        {% set banned = 'checked=""' if not user.is_active %}
                        <input type='checkbox' value={{ user.name + '_banned' }} {{ banned }} />
                        {{ _('Banned') }}
                    </label>
                </td>
            </tr>
        </a>
    {% endfor %}
{% endblock table_body %}

{% block after_table %}
{% endblock after_table %}

{% block help %}
    <p><strong>{{ _('Explanation of roles') }}:</strong></p>
    <p><em>Admin</em> {{ _('can ban/unban users and edit user permissions.') }} <em>Editors</em> {{ _('can edit tags and sources.') }}</p>
{% endblock help %}