{% set item_url = 'http://hind.esqurel.com/permissions' %}
{% set pages = 5 %}

<nav>
    {% if pages > 1 %}
        <ul class='pagination pagination-sm'>
            {% if current_page > 1 and pages > 2%}
		        <li>
					<a href={{ item_url + '/' + (current_page - 1)|string }} aria-label='Previous Page'>
						<span class='sr-only'>{{ _('Previous Page') }}</span>
						<span aria-hidden='true'>&laquo;</span>
					</a>
				</li>
			{% endif %}
			{% for page in range(1, pages + 1) %}
                <li {{ 'class=active' if page == current_page }}>
                    <a href={{ item_url + '/' + page|string }}>
                        {{ page }}
    			    </a>
	    		</li>
	    	{% endfor %}
	    	{% if current_page < pages and pages > 2%}
				<li>
					<a href={{ item_url + '/' + (current_page + 1)|string }} aria-label='Next Page'>
						<span class='sr-only'>{{ _('Next Page') }}</span>
						<span aria-hidden='true'>&raquo;</span>
					</a>
				</li>
			{% endif %}
        </ul>
    {% endif %}
</nav>